@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-rendering: optimizeLegibility;
	color: #ffffff;
	font-size: 20px;
}